.CryptoListActions {

  .CryptoItemList-container:hover {
    background-color: transparent
  }

  .CryptoItemList-container {

    button {
      background: none;
      border: none;
      text-align: center;
      font-weight: bold;
      font-size: .9em;
      cursor: pointer;
      padding: 1em 0;
    }

    button:hover {
      background-color: rgba(0, 0, 0, .055);
    }
  }

  .CryptoListActions-actions {

    display: flex;


    .CryptoListActions-limiter, .CryptoListActions-currency {
      outline: none;
      border-radius: 0;
      margin: 0 .5em;
      background: none;
      font-weight: bold;
    }

    .CryptoListActions-search {
      margin-right: auto;
      outline: none;
      height: 3em;
      width: 15em;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .4em;
      padding-left: .5em;
      margin-left: 1em;
    }

    .CryptoListActions-buttonTab {

      background: none;
      font-weight: bold;
      font-size: .9em;
      border-radius: .2em;
    }
  }
}